<hr>
   <h2>Class Details (class id {{classid}})</h2>

    {% for result in input1 %}
        <tr>
            <td>
            {% set tmp = result.split(':') %}
            <strong> {{tmp[0]}}: </strong>
                {%if tmp[2]%}
                {{tmp[1]}}:{{tmp[2]}}
                {%else%}
                {{tmp[1]}}
                {% endif %}
            </td>
            <br>
        </tr>
    {% endfor %}

   <hr>
   <h2>Course Details (course id
       {% set tmp = input1[0].split(':') %}
       {{tmp[1]}})</h2>
    {% for result in input2 %}
        <tr>
            <td>
                {% if result != "" %}
            {% set tmp = result.split(':') %}
            <strong> {{ tmp[0] }}: </strong>
                {%if tmp[2]%}
                {{tmp[1]}}:{{tmp[2]}}
                {%else%}
                {{tmp[1]}}
                {% endif %}
            </td>
            <br>
            {% endif %}

        </tr>
    {% endfor %}
   <hr>